<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} .+/(img|js|css)/.+
    RewriteCond %{REQUEST_URI} !.+/view/.+
    RewriteRule ([^/]+)/(.+) view/resources/$1/$2

    RewriteCond %{REQUEST_URI} !.+/(img|js|css)/.+
    RewriteCond %{REQUEST_URI} !.+/view/.+
    RewriteRule .* index.php
</IfModule>
